:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --section-color: #2f303a;
}


/*Portfolio*/
/*buttons*/
.btn {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;

   text-align: center;
 }
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
 /*галлерея фото*/
 .portfolio-items {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;

  letter-spacing: 0.06em;
}
 .portfolio-text {
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
 }